.addToCartButton{
    max-width: 200px;
    height: 60px;
    background-color: #ffffff; /* Tomato color */
    color: #000000;
    border-radius: 30px;
    cursor: pointer;
    font-size: 35px;
    font-family: "Annie Use Your Telescope", cursive;
    font-weight: 800;
    box-shadow: #5e5d5d 0px 0px 10px;
}