.productCarouselContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
    width: 70vw;
}

.product-swiper .swiper-slide {
  transition: transform 280ms ease, opacity 280ms ease, filter 280ms ease;
  transform: scale(0.9);
  opacity: 0.75;
  width: 100vw;
}

.product-swiper .swiper-slide-active {
  transform: scale(1.1);
  opacity: 1;
  z-index: 1;
}
